interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?q=Toledo&appid=2b2c54bd4f822b146e23fc28a5e1c1e6&units=metric&lang=sp
  response:
    body:
      string: '{"coord":{"lon":-4,"lat":39.8333},"weather":[{"id":804,"main":"Clouds","description":"nubes","icon":"04n"}],"base":"stations","main":{"temp":18.36,"feels_like":18.55,"temp_min":18.36,"temp_max":18.36,"pressure":1011,"humidity":88,"sea_level":1011,"grnd_level":940},"visibility":10000,"wind":{"speed":10.32,"deg":271,"gust":14.36},"clouds":{"all":86},"dt":1727910524,"sys":{"country":"ES","sunrise":1727936058,"sunset":1727978121},"timezone":7200,"id":2510407,"name":"Toledo","cod":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
