interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/weather?lat=40.4165&lon=-3.7026&appid=2b2c54bd4f822b146e23fc28a5e1c1e6&units=metric
  response:
    body:
      string: '{"coord":{"lon":-3.7026,"lat":40.4165},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":21.43,"feels_like":20.44,"temp_min":18.89,"temp_max":23.53,"pressure":1018,"humidity":31,"sea_level":1018,"grnd_level":944},"visibility":10000,"wind":{"speed":1.54,"deg":220},"clouds":{"all":0},"dt":1727726634,"sys":{"type":2,"id":2084029,"country":"ES","sunrise":1727676622,"sunset":1727719132},"timezone":7200,"id":3117735,"name":"Madrid","cod":200}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
